<div class="row">
  <div class="col m6 s12">
    <h4>API actions on an individual resource</h4>
    {{#each content as |fruit|}}
    <p class='fruit-thing' id='{{fruit.name}}'>
      <button class='btn ripen-instance-button' {{action 'ripenFruit' fruit}}>Ripen</button>
      <button class='btn info-instance-button indigo' {{action 'fruitInfo' fruit}}>Info</button>
      {{fruit.name}}
    </p>
    {{/each}}
    <h4>API action on a collection of resources</h4>
    <p class='all-fruit'>
      {{content.constructor.modelName}}
      <button class='btn ripen-type-button' {{action 'ripenAllFruit' content.firstObject}}>Ripen All</button> 
      <button class='btn fresh-type-button indigo' {{action 'getAllFreshFruit' content.firstObject}}>Get Fresh</button> 
    </p>
  </div>
  <div class="col m6 s12">
    <h4>Outgoing API Requests:</h4>
    <ul>
      {{#each requests as |req|}}
        {{x-request content=req}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <b>app/models/fruit.js</b>
    {{code-snippet name='fruit-model.js'}}
    <b>app/controllers/index.js</b>
    {{code-snippet name='controller.js'}}
  </div>
</div>